*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    overflow: hidden;
    
}
.video_container{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.video{
    height: 100%;
    width: 100%;

}

#record_video , .capture_btn{
    height: 4rem;
    width: 4rem;
    top: 1rem;
    z-index: 2;
    border-radius: 50%;
    right: 4vw;
    top: 34vh;
    background-color: red;
    border: none;
    outline: none;
    /* animation: scaleUp 2s infinite; */
    
}
.capture_btn{
    top: 55vh;
    background-color: white;
}
.record-container{
    height: 6.5rem;
    width: 6.5rem;
    border: 0.5rem solid white;
    position: fixed;
    top: 34vh;
    right: 4vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.capture-container{
    height: 6.5rem;
    width: 6.5rem;
    border: 0.5rem solid white;
    position: fixed;
    top: 55vh;
    right: 4vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.record-animation{
    animation: scaleUp 1s infinite;
}

.camera-animation{
    animation: cameraScaleUp 0.6s ;
    
}


@keyframes scaleUp {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes cameraScaleUp {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.filter-container{
    height: 50vh;
    width: 5rem;
    position: fixed;
    top: 10vh;
    left: 5vw;
    z-index: 10;
}
.filter{
    background-image: url("https://picsum.photos/id/237/200/300");
    height: 20%;
    background-size: cover;
    /* mix the bg color with the image */
    background-blend-mode: color-burn;
}

.timing{
    position: fixed;
    color: white;
    bottom: 12vh;
    left: 3vw;
    font-size: 1.7rem;
    font-family: sans-serif;
    font-weight: 600;
    z-index: 10;
    display: none;
}
.timing-active{
    display: block;
}

.ui-filter{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 4;
    display: none;
    opacity: 0.6;

}
.ui-filter-active{
    display: block;
}

.zoom{
    height: 7rem;
    width: 3rem;
    background-color:rgba(49, 47, 47, 0.575);
    position: fixed;
    z-index: 6;
    right: 7vw;
    top: 9vh;
}
.icon-container{
    color: white;
    height: 50%;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 10px;
    font-size: 180%;
}

